
::selection {
    background-color: hsl(115, 65%, 52%);
    color: #efefef;
}

* {
    font-family: "Poppins", sans-serif;
    color: #333;
    scrollbar-color: #444  #222;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #27272710;
}

.fundoBranco p {
    color: #333;
}

.fundoVerde p {
    color: #efefef;
}

header h1 {
    font-size: 2em;
    color: hsl(115, 95%, 31%);
}

header nav {
    display: flex;
    gap: 4em;
}

a {
    font-size: 1.2em;
    font-weight: 600;

    transition: 0.2s;
}

a:hover {
    color: hsl(115, 86%, 52%);
   
}

.hero {
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
    text-align: center;

    background: url("../assets/fundo.jpg")  ;
    background-position: center;
    background-size: cover;
    
}

.hero h1 {
    font-size: 5em;
    color: #efefef;
    background-color: #ffffff20;
}

.corVerde {
    color: hsl(115, 95%, 31%);
}

.corVermelha {
    color: hsl(0, 80%, 60%);
}

section {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    border-top: 2px solid #333;
}

section h2 {
    font-size: 4em;

}

section#sobre div, section#dados div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    text-align: center;
    margin: auto;

    gap: 50px;
    padding: 4em;
    line-height: 2em;
}

.fundoVerde {
    background-color: hsl(115, 65%, 52%);
}

.fundoBranco {
    background-color: #efefef;
    
}

caption {
    font-weight: 600;
    font-size: 2em;

    margin-bottom: 1em;
}

table, tr, td {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0.5em 3em;

    font-size: 1.2rem;
    font-weight: 400;

}

section#apoiar {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
}

form {
    width: 50%;
    margin: auto;
    background-color: #efefef;

    padding: 2em;
    margin-top: 2em;
    border-radius: 5px;
}

form legend{
    margin-bottom: 2em;
    font-size: 1.2em;
}

input {
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    padding: 1em;
    background-color: #fff;
}


.input-wrapper {
    padding: 0;
    width: 100%;

    display: inline-block;
    text-align: start;

    margin-bottom: 0.5em;

}

.input-wrapper input {
    width: 100%;
}

#enviar {
    margin-top: 1em;
    width: 30%;
}

#enviar input {
    font-size: 1.2em;

    border-radius: 10px;
    background-color: hsl(115, 91%, 58%);

    transition: 0.2s;
}

#enviar input:hover {
    border-radius: 10px;
    background-color: #333;
    color: hsl(115, 91%, 58%);
}

section#apoiar {
    padding: 4em;
}

h3 {
    font-weight: 600;
    font-size: 1.6em;

}

section#contato div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    text-align: center;
    margin: auto;

    gap: 20px;
    padding: 4em;
    line-height: 2em;
}

footer {
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
}

footer a {
    padding-left: 2em;
    color: hsl(115, 91%, 58%);
}

footer a:hover {
    color: #efefef;
   
}